

<div class="container">    
    <div class="row">        
        <section class="col-3">
            <h5 class="text-warning ml-3">Filter</h5>
            <select class="custom-select"> 
                <option selected>Alphbatically</option>
                <option>Price: Ascending</option>
                <option>Price: Descending</option>
            </select>

            <h5 class="text-warning ml-3">Brands</h5>
            <ul class="list-group my-3">
                <li class="list-group-item" 
                *ngFor="let brand of brands"
                [class.active]="brand.id===this.selectedBrandId"
                [value]="brand.id"
                (click)="onBrandSelected(brand.id)"
                >
                    {{brand.name}}
                </li>
              </ul>
              <h5 class="text-warning ml-3">Types</h5>
            <ul class="list-group my-3">
                <li class="list-group-item" 
                *ngFor="let type of types"
                [class.active]="type.id===this.selectedTypeId"
                [value]="type.id===this.selectedTypeId"
                (click)="onTypeSelected(type.id)"
                >
                    {{type.name}}
                </li>
              </ul>
        </section>

        <section class="col-9">
            <div class="d-flex justify-content-between align-items-center pb-2">
                <header>
                    <span>Showing <strong>10</strong> of <strong>13</strong> Results</span>
                </header>
                <div class="form-inline mt-2">
                    <input class="form-control" style="width: 300px;" type="text">
                    <button class="btn btn-outline-primary my-2">Search</button>
                    <button class="btn btn-outline-warning ml-2 my-2">Reset</button>
                </div>
            </div>
            
            <div class="row">
                <div class="col-4" *ngFor="let item of products">
                  <app-product-item [product]="item"></app-product-item>
                </div>
            </div>
        </section>
    </div>
</div>
